body{
   background-image: url("/Hello_Kitty.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

h1{
    background: linear-gradient(to left, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(to right, skyblue, lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* background-repeat property prevents repeating of background stuff 
    background attachment applies the colour everywhere
    can also change the linear gradiennts left or right*/
