p{
    border-style: outset;
    border-width: 5px;
    border-color: aqua;
    border-radius: 10px;
    padding: 5px;
}

h1{
    border-top-style: dotted ;
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: silver;
}