/* h1{
    text-shadow: 5px 5px 5px grey;
} */
/* 1st num - positive number moves shadow to the right
            negative to the left */
/* 2nd num - positive is downward
            negative is upward */
            /* 3rd num - controls blur effect */
h1{
    text-shadow: 0px 0px 10px yellow , 5px 0px 5px red, 0px 5px 5px orange;
    box-shadow: 5px 5px 5px black;
}