#box1{
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 75px;
    text-align: center;
    background: blue;

    /* transform: translateX(50px);
    transform: translateY(50px); */
    transform: translate(50px, 50px);
    /* translate property moves the element however you want it to */
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    /* rotation transformation */
    transform: scaleX(2);
    /* scale() expands width */
    transform: skewX(45deg)
}